
@{ ViewData["Title"] = "ClubInManager"; }


<div class="site-section" data-aos="fade-up" style="background-color: white">
    <div class="container" style="margin-top: 5%; margin-bottom: 5%; ">
        <div style="text-align:center;">
            <img style="width:900px; height:auto" src="~/images/teamM.jpg" />
        </div>

        <h2 style="text-align:center; margin-top:2%; color:black">Sorry but there's an existing club for that user.</h2>
        <h3 style="text-align:center; margin-top:2%; color:black">Delete the club first and try again!</h3>

    </div>

</div>