
@{ ViewData["Title"] = "ExistingClub"; }


<div class="site-section" data-aos="fade-up" style="background-color: white">
    <div class="container" style="margin-top: 5%; margin-bottom: 5%; ">
        <div style="text-align:center;">
            <img style="width:900px; height:auto" src="~/images/team.jpg" />
        </div>

        <h2 style="text-align:center; margin-top:2%; color:black">Sorry but there's already an existing team for that user.</h2>

    </div>

</div>
@*<div class="btn">Return to Home</div>*@
